body {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    background-color: black;
}

#video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    transform: translateX(calc((100% - 100vw) / 2));
    visibility: hidden; }
button {
    color: white;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(calc((100% - 100vw) / 2));
    background-color: rgba(0,0,0,0);
}
#main {
    color: white;
    padding: 25px;
    visibility: hidden;
    animation-play-state: paused;
    animation: main 1s ease-in-out 5s forwards;
}

@keyframes test {
    0% {opacity: 0%;
    visibility: visible;}
    20% {opacity: 50%;}
    30% {opacity: 100%;}
    80% {opacity: 50%;}
    100%{opacity: 0%;
    visibility: hidden;}    
}
@keyframes main {
    0% {opacity: 0%;
    visibility: hidden;}
    20% {opacity: 10%;}
    30% {opacity: 20%;}
    80% {opacity: 50%;}
    100%{opacity: 100%;
    visibility: visible;}
}

#video {
    animation-play-state: paused;
    animation-name: test;
    animation-duration: 4s;
}

@media all {
    html, body{height:100%;} 
    #main{
    min-height:100%;
    }
    body, p { margin:0; padding:0}
}